
<!-- Footer -->
<footer class="page-footer font-small dark-grey-text pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Про нас</h5>
        <p>
          Компанія Velostok є найбільшим виробником та постачальником сучасних високотехнологічних велосипедів,
          комплектуючих
          та велосипедних аксесуарів в Україні. Наша компанія була заснована у 1999 році. Усі велосипеди збираються
          на сучасній конвеєрній лінії у Києві.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">Партнери</h5>
        <p>
          Серед наших партнерів є такі всесвітньо відомі компанії, як SHIMANO, SUNTOUR, ALEXRIMS, ARTEK, BENGAL,
          PROWHEEL,
          QUANDO HUBS, STANDWELL, KMC CHAIN, ZOOM, CHENG SHIN TIRE, GRAND STAR, VELO, NECO та багато інших виробників
          велосипедних комплектуючих.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href=""> velostok.com</a>
  </div>
</footer>
