<form [formGroup]="productForm" (ngSubmit)="submitProductForm()" novalidate>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Назва" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Оберіть підкатегорію:" formControlName="subCategoryName">
        <mat-option disabled>Оберіть підкатегорію</mat-option>
        <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.name">{{subCategory.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Ціна" formControlName="price" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Опис" formControlName="description" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Зображення" formControlName="image" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Зображення мале" formControlName="largeImage" required>
    </mat-form-field>
    <button [disabled]="!productForm.valid" class="" mat-raised-button color="primary">Зберегти дані</button>
  </div>
</form>
