<div class="payment-container">
  <h2 class="center">ОПЛАТА ТА ДОСТАВКА ВЕЛО ТОВАРІВ</h2>
  <p><b>Як замовити:</b></p>
  <p>Замовити товар ви можете за допомогою нашого сайту, отримавши логін і пароль від нашого менеджера. Для наших
    постійних клієнтів ми робимо розсилку свіжих прайсів. Замовлення також можливо здійснити, надіславши нам заповнений
    прайс на адресу: xxx@xxx.com.ua
  </p>
  <p><b>Документи, необхідні для складання договору фізичної особи підприємця:</b></p>
  <ul>
    <li>свідоцтво реєстрації ФОП;</li>
    <li>копія свідоцтва платника ПДВ (якщо є платником податку);</li>
    <li>копія паспорта;</li>
    <li>копія ІНН.</li>
  </ul>

  <p><b>Документи, необхідні для заключення договору від юридичної особи:</b></p>
  <ul>
    <li>свитяг з ЄДРПОУ;</li>
    <li>копія свідоцтва платника ПДВ (якщо є платником податку);</li>
    <li>копія паспорта;</li>
    <li>витяг зі статуту та наказ на призначення особи, яка має право підпису документів;</li>
  </ul>

  <p><b>Варіанти доставки:</b></p>
  <ul>
    <li>самовивіз;</li>
    <li>кур'єрські служби: «Нова пошта», «Інтайм», «Делівері»;</li>
    <li>найманий транспорт;</li>
    <li>транспорт підприємства.</li>
  </ul>
  <p>
</div>
<div>
  <div class="mapouter"><div class="gmap_canvas"><iframe width="95%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%9A%D0%B8%D1%97%D0%B2%20%D0%92%D0%B5%D0%BB%D0%BE%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D0%B7%D0%B0%D0%BF%D1%87%D0%B0%D1%81%D1%82%D0%B8%20velostok&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a></div><style>.mapouter{text-align:right;height:500px;width:95%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:95%;}</style></div>
</div>
