<div class="payment-container">
  <h2 class="center">ОПЛАТА ТА ДОСТАВКА ВЕЛО ТОВАРІВ</h2>
  <p><b>Як замовити:</b></p>
  <p>Замовити товар ви можете за допомогою нашого сайту, отримавши логін і пароль від нашого менеджера. Для наших
    постійних клієнтів ми робимо розсилку свіжих прайсів. Замовлення також можливо здійснити, надіславши нам заповнений
    прайс на адресу: xxx@xxx.com.ua
  </p>
  <p><b>Документи, необхідні для складання договору фізичної особи підприємця:</b></p>
  <ul>
    <li>свідоцтво реєстрації ФОП;</li>
    <li>копія свідоцтва платника ПДВ (якщо є платником податку);</li>
    <li>копія паспорта;</li>
    <li>копія ІНН.</li>
  </ul>

  <p><b>Документи, необхідні для заключення договору від юридичної особи:</b></p>
  <ul>
    <li>свитяг з ЄДРПОУ;</li>
    <li>копія свідоцтва платника ПДВ (якщо є платником податку);</li>
    <li>копія паспорта;</li>
    <li>витяг зі статуту та наказ на призначення особи, яка має право підпису документів;</li>
  </ul>

  <p><b>Варіанти доставки:</b></p>
  <ul>
    <li>самовивіз;</li>
    <li>кур'єрські служби: «Нова пошта», «Інтайм», «Делівері»;</li>
    <li>найманий транспорт;</li>
    <li>транспорт підприємства.</li>
  </ul>
  <p>
</div>
