
<section class="text-center my-5">

  <h2 class="h1-responsive font-weight-bold text-center my-5">Категорія {{nameOfCategory}}</h2>
  <p class="grey-text text-center w-responsive mx-auto mb-5">Наші найкращі товари для Вас </p>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 card-product" *ngFor="let entry of response">
      <div class="card align-items-center">
        <div class="view overlay" (click)="getProduct(entry.id)">
          <img src={{entry.image}} class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5>{{truncate(entry.title)}}</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">{{truncate(entry.title)}}
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>
          <h5 class="font-weight-bold blue-text">
            <strong>{{entry.price}} грн.</strong>
          </h5>
          <button mat-icon-button color="primary"
                  class="centered"
                  color="primary"
                  (click)="addToCart(entry)">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
