.card-product {
  margin-top: 20px;
}

.card {
  height: 400px;
}

.paginator {
  margin-top:20px;
  margin-bottom: 20px;
}

img {
  height: 350px;
  width: 190px;
  object-fit: contain;
}

.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity .25s;
}
.card-img-wrap img {
  transition: transform .25s;
  width: 100%;
}
.card-img-wrap:hover img {
  transform: scale(1.2);
}
.card-img-wrap:hover:after {
  opacity: 1;
}
