<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Ввійти</h2>
    <div class="form-group">
      <div class="example-container">
        <mat-form-field class="full-width">
          <input matInput placeholder="Електронна пошта" required formControlName="login">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="example-container">
        <mat-form-field class="full-width">
          <input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark login-btn btn-block">Ввійти</button>
    </div>
    <div class="or-seperator"><i>або</i></div>
    <p class="text-center">Увійдіть у свій обліковий запис соціальної мережі</p>
    <div class="text-center social-btn">
      <a class="btn btn-primary"(click)="facebookLogin()" ><i class="fa fa-facebook"></i>  Facebook</a>
    </div>
  </form>
  <p class="text-center text-muted small">Не заєрестровані? <a href="#">Зараєструватися тут!</a></p>
</div>
