
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Velostok</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="!isLogin; else loggedOut" routerLink="/login"><mat-icon>input</mat-icon></a>
      <ng-template #loggedOut>

        <ngx-avatar
                    name="Velo Stok" src={{photoUser}} size="32" [round]="true">
        </ngx-avatar>

        <a class="nav-item nav-link" (click)="logout()"><mat-icon>logout</mat-icon></a>
      </ng-template>
      <a class="nav-item nav-link"><app-cart-icon></app-cart-icon></a>
      <a class="nav-item nav-link" routerLink="/">Головна</a>
      <a class="nav-item nav-link" routerLink="payment">Оплата та доставка</a>
      <a class="nav-item nav-link" *ngIf="isLogin && isAdmin" [matMenuTriggerFor]="adminPages">Адмінка</a>
      <mat-menu #adminPages="matMenu">
        <button mat-menu-item *ngFor="let entry of entries" (click)=goToAdminPage(entry.path)>{{entry.title}}</button>
      </mat-menu>
    </div>
  </div>
</nav>
