<!--<div *ngFor = "let entry of entries" class="section">
  <img id="img" [alt]="entry.name" [src]="entry.image" class="center img-header">
  <h2 style="text-align: center">{{entry.name}}</h2>
  <div style="text-align: center">
    <button mat-raised-button color="primary" [routerLink]="entry.path">Переглянути</button>
  </div>
</div>
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
  </mdb-slide>

  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
  </mdb-slide>

  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->




<!--Start of welcome section-->
<section id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wel_header">
          <h2>Ласкаво просимо до нашого магазину</h2>
          <p>Наші пріоритети та наші цінності</p>
        </div>
      </div>
    </div>
    <!--End of row-->
    <div class="row">
      <div class="col-md-3">
        <div class="item">
          <div class="single_item">
            <div class="item_list">
              <div class="welcome_icon">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <h4>Партнери</h4>
              <p>Ми працюємо персонально з кожним клієнтом, ми шукаємо підхід до кожного</p>
            </div>
          </div>
        </div>
      </div>
      <!--End of col-md-3-->
      <div class="col-md-3">
        <div class="item">
          <div class="single_item">
            <div class="item_list">
              <div class="welcome_icon">
                <i class="fa fa-refresh"></i>
              </div>
              <h4>Задоволення клієнтів</h4>
              <p>Поваренення товару на протязі 14 днів з дня покупки</p>
            </div>
          </div>
        </div>
      </div>
      <!--End of col-md-3-->
      <div class="col-md-3">
        <div class="item">
          <div class="single_item">
            <div class="item_list">
              <div class="welcome_icon">
                <i class="fa fa-bicycle"></i>
              </div>
              <h4>Велосипеди</h4>
              <p>Підберемо велосипед персонально для кожного, ви будете задоволені якістю товару</p>
            </div>
          </div>
        </div>
      </div>
      <!--End of col-md-3-->
      <div class="col-md-3">
        <div class="item">
          <div class="single_item">
            <div class="item_list">
              <div class="welcome_icon">
                <i class="fa fa-credit-card-alt"></i>
              </div>
              <h4>Розрахункова система</h4>
              <p>Розрахунок ви зможете здійснити як за допомогою карти любого банку України так і готівкою при доствці товару</p>
            </div>
          </div>
        </div>
      </div>
      <!--End of col-md-3-->
    </div>
    <!--End of row-->
  </div>
  <!--End of container-->
</section>
<!--end of welcome section-->

<section class="text-center my-5">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Наші категорії</h2>
  <p class="grey-text text-center w-responsive mx-auto mb-5">Тут ви зможете знайти товари які підійдуть для Вас для Вашого бізнесу</p>

  <div class="row">
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4" *ngFor = "let entry of entries" >
      <div class="card collection-card z-depth-1-half">
        <div class="view zoom">
          <img [src]="entry.image" class="img-fluid" alt="{{entry.name}}" (click)="findAllProductByCategoryName(entry.name)">
          <div class="stripe dark">
            <a>
              <p>{{entry.name}}
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
